In [11]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series, read_csv
import matplotlib.pyplot as plt
import matplotlib 

# Enable inline plotting
%matplotlib inline

In [12]:
location = r'airplanedata.csv'
df = pd.read_csv(location)

In [13]:
df

,Unnamed: 0,Unnamed: 1,Los Angeles,Phoenix,San Diego,San Francisco,Seattle
0,ALASKA,on time,497,221,212,503,1841
1,NaN,delayed,62,12,20,102,305
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AM WEST,on time,694,4840,383,320,201
4,NaN,delayed,117,415,65,129,61

In [14]:
df.dtypes

Unnamed: 0        object
Unnamed: 1        object
Los Angeles      float64
Phoenix          float64
San Diego        float64
San Francisco    float64
Seattle          float64
dtype: object

## average = 0.0
total = 0
maxt = 0.0

for line in location:
    try:
        p = float(line.split(",")[4])
        average += p
        total += 1
        maxt = max(maxt,p)
    except:
        pass

print("Maximum:",maxt)